* {
	margin: 0;
	padding: 0;
}
body {
	font-family: 'Space Mono', monospace;
	color: #333333;
	margin: 1rem 0;
}
.img-fluid {
	width: 100%;
}
.image {
	margin: 3rem auto;
	max-width: 30rem;
}
.container {
	max-width: 30rem;
	margin: auto;
	padding: 0 1rem;
}
@media (min-width: 768px) {
	.container {
		max-width: 65rem;
	}
	.split {
		display: flex;
		align-items: center;
		height: 85vh;
	}
	.description {
		margin: 2rem 0 !important;

		max-width: 20rem;
	}
	.image {
		margin: 0;
		margin-right: 2rem;
	}
}
h1 {
	font-size: 48px;
}
h3 {
	font-size: 28px;
}
.btn-main {
	width: 216px;
	height: 68px;
	background: #333333;
	border: none;
	font-style: normal;
	font-weight: bold;
	font-size: 14px;
	line-height: 21px;
	letter-spacing: -0.035em;
	text-transform: uppercase;
	color: #ffffff;
	margin-bottom: 3rem;
}

.description {
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 27px;
	letter-spacing: -0.035em;
	margin: 3rem 0;
}
footer {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 17px;
	/* identical to box height */

	text-align: center;

	color: #bdbdbd;
}
footer a {
	color: #bdbdbd;
}
